@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Biblioteca</h2>
    <a asp-action="Index" asp-controller="Livro">Livros</a>
    <!--Link para a página de cadastro de veículo-->
    <a asp-action="Cadastrar" asp-controller="Livro">Cadastro de Livros</a>
</div>