@using Biblioteca.Models;
@model Livro


@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<alert texto="@TempData["mensagem"]"></alert>

<a asp-action="index">Livros</a>
<form asp-action="Cadastrar">
   
    <!--Adicionar o conteudo do arquivo _Form.cshtml-->
    <partial name="_Form"></partial>

    
</form>
